@{
  ViewBag.Title = "Forgot Password Confirmation";
  Layout = "~/Views/Shared/_LayoutFull.cshtml";

}

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="ibox middle-box">
      <div class="ibox-title">
        <h5>@ViewBag.Title.</h5>
      </div>
      <div class="ibox-content">
        <p>
          Please check your email to reset your password.
        </p>

      </div>
    </div>
  </div>
</div>
