@{
  ViewBag.Title = "Reset password confirmation";
  Layout = "~/Views/Shared/_LayoutFull.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="ibox middle-box">
      <div class="ibox-title">
        <h5>@ViewBag.Title</h5>
      </div>
      <div class="ibox-content">
        <p>
          Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
      </div>
    </div>
  </div>
</div>
