@model System.Web.Mvc.HandleErrorInfo

@{
  ViewBag.Title = "Error";
}

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5 class="text-danger">An error occurred while processing your request.</h5>
        </div>
        <div class="ibox-content">
          <div class="row">

            <div class="col-lg-12">
              <div class="text-center">
                <div style="margin-top: 20px; margin-bottom: 20px">
                  <img src="~/Content/images/rubber-duck.png" />
                </div>
              </div>

            </div>

            <div class="row">

              <div class="col-lg-12">
                <div class="text-center">
                  <h2>"Let's debug your code together."</h2>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>