@model I4PRJ_SmartStorage.ViewModels.SupplierReportViewModel

@{
    ViewBag.Title = "Supplierreport Form";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Supplierreport</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>Supplierreport</strong>
            </li>
        </ol>
    </div>
</div>

