@model I4PRJ_SmartStorage.ViewModel.WholesalerViewModel

@{
    ViewBag.Title = "Wholesalers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New wholesalers report</h2>

@using (Html.BeginForm("CreateNewReport", "Wholesalers"))
{
    <div class="form-group">
        @Html.LabelFor(w=>w.Wholesaler.WholesalerId)
        @Html.DropDownListFor(w=>w.Wholesaler.WholesalerId, new SelectList(Model.Wholesalers, "WholesalerId", "Name"), "Select wholesaler",new { @class = "form-control"})
    </div>
}
